.row, h1, h3{
    font:black;
}
body{
    background-color:black;
    color:white;
}
h1{
    text-align:center;
    color:white;
    font-family: fantasy;
}
h2, h3{
    text-align:left;
    color:white;
    font-family: cursive;
}
.jumbotron{
    background: url("https://attachments.office.net/owa/Akiria.Morgan%40studentsjmcss.onmicrosoft.com/service.svc/s/GetAttachmentThumbnail?id=AAMkAGM0MGRkMzQ5LTFlYjAtNDgyYi05MjUzLWU1ODQ4NTAzNjhkYgBGAAAAAAB98o%2BtUnIbSrZjW7Qhc25tBwBlCW051y3BS7anlIwiaQuuAAAAAAEMAABlCW051y3BS7anlIwiaQuuAAPH7HtmAAABEgAQAI8uMZuiMElAqa92GT73Sbs%3D&thumbnailType=2&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjMwODE3OUNFNUY0QjUyRTc4QjJEQjg5NjZCQUY0RUNDMzcyN0FFRUUiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJNSUY1emw5TFV1ZUxMYmlXYTY5T3pEY25ydTQifQ.eyJvcmlnaW4iOiJodHRwczovL291dGxvb2sub2ZmaWNlLmNvbSIsInVjIjoiYjg2NTc1Mjc4ODY0NGUwMjg0ZDQzZmViMDNhZTg1MDkiLCJzaWduaW5fc3RhdGUiOiJbXCJkdmNfbW5nZFwiLFwiZHZjX2RtamRcIixcImttc2lcIl0iLCJ2ZXIiOiJFeGNoYW5nZS5DYWxsYmFjay5WMSIsImFwcGN0eHNlbmRlciI6Ik93YURvd25sb2FkQGQ5ODJmM2RjLThjMjUtNGQ3OS1hNzI5LWY2ZDQ3ZDYwY2ZlNSIsImlzc3JpbmciOiJXVyIsImFwcGN0eCI6IntcIm1zZXhjaHByb3RcIjpcIm93YVwiLFwicHVpZFwiOlwiMTE1Mzc2NTkzMjI5MTYzMDAwMVwiLFwic2NvcGVcIjpcIk93YURvd25sb2FkXCIsXCJvaWRcIjpcImM4YWE5OTI3LTIzZGEtNDE5NS04ZjY4LTI1Y2NjMWU4MWFkOFwiLFwicHJpbWFyeXNpZFwiOlwiUy0xLTUtMjEtODAyNjY5NTQ0LTc0NTY1MTA0MS0zOTM4MzcwMTM3LTEyNzkzNTYwXCJ9IiwibmJmIjoxNjMxNjQ2NzAzLCJleHAiOjE2MzE2NDczMDMsImlzcyI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMEBkOTgyZjNkYy04YzI1LTRkNzktYTcyOS1mNmQ0N2Q2MGNmZTUiLCJhdWQiOiIwMDAwMDAwMi0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYXR0YWNobWVudHMub2ZmaWNlLm5ldEBkOTgyZjNkYy04YzI1LTRkNzktYTcyOS1mNmQ0N2Q2MGNmZTUiLCJoYXBwIjoib3dhIn0.SmdVbcBmArv_Xt-PfhAzswDgjaI-E4zeN3UmoE-j9zkz2HFI8MfbuCg5UXCpKid3zBHKJS_LCTF74rK3X_ubH239-EafP5x9vk_rZ559RGsUNpAgDEYK8A-euCnBDCfGXBmcM7y5AosGehkCx-WCWwFuv6ZK9ZYEFCWIkBn5pYtZ_CI6G6-GkSESM4Y_RAr3uXUTvSnbBTXogXvrlnUjMvb7DzU8xl0boP5zyGSarL2YLREQTJ-f7hvH_jl-Ih25dGYishdabCsgIezeyBmBaAKy2uAElTvZMrFspITUnxBMoYK7e7d8bsBAx7aPWGjH6Q0CWyNSDcTG28n8b2DMMg&X-OWA-CANARY=xRT_5dqMLU-Zfm92zepGTRCMjIGzd9kYql2vxUKzR3G8mqWW0NIIg-ywi2_egJKwKoBgj3K2ibo.&owa=outlook.office.com&scriptVer=20210906004.07&animation=true");
    background-size: cover;
    height: 2790px;
    width: 4000;
}